body {
    font-family:"Open Sans SemiBold"
}

.tabs {
    width:100%;
    display:inline-block;
    margin-bottom:0;
    position:relative;
    bottom:-.29em;
    left:15px
}

.tab-links li {
    margin:0 2px;
    float:left;
    list-style:none;
    margin-bottom:-.7px;
    border-top:1px solid #bdcdee;
    border-left:1px solid #bdcdee;
    border-right:1px solid #bdcdee;
    z-index:1
}

.active {
    background:#e4efff;
    color:#fff
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0 0;
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    color:#6e6e6e
}

.content,#subscribe {
    position:absolute;
    margin:0 30px 30px;
    border:1px solid #bdcdee;
    height:380px;
    width:950px;
    border-radius:6px;
    background:#e4efff;
    z-index:-1
}

#subscribe {
    visibility:hidden;
    background:#E4F0FF
}

.box {
    margin-left:25px;
    margin-top:30px;
    margin-bottom:10px;
    width:430px;
    height:300px;
    border-radius:inherit;
    border:1px solid #ADD8E6;
    background:#fff;
    float:left
}

.learnmore {
    position:absolute;
    width:160px;
    height:38px;
    background-color:#56A201;
    text-decoration:none;
    color:#fff;
    top:288px;
    left:170px;
    border-radius:3px;
    text-align:center;
    line-height:2.4em
}

.p3 {
  color: #1b6bce;
  font-size: 13.81px;
  line-height: 1.9;
  padding-top: 18px;
  margin-right: 60px;
  font-weight: 200;
}

.learnmore a {
    margin:5px;
    color:#fff;
    text-decoration:none
}

.description {
    font-size:13.81px;
    color:#6e6e6e;
    line-height:1.5;
    padding-right:55px
}

.cont {
    margin-left:30px;
    margin-top:20px
}

.cont h1,h {
    font-size:22px;
    color:#757575
}

.form {
    background-color:#fff;
    border-radius:6px;
    border:1px solid #ADD8E6;
    width:887px;
    height:300px;
    margin-bottom:10px;
    margin-top:30px;
    margin-left:25px
}

td.address {
    vertical-align:top;
    width:65px
}

#subscribebutton,#resetbutton {
    width:110px;
    height:42px;
    border:1px solid green;
    background-color:#56A201;
    border-radius:3px;
    position:absolute;
    top:309px;
    left:770px;
    color:#fff;
    font-size:15px;
    font-weight:700
}

#subscribebutton {
    top:305px;
    left:770px
}

#resetbutton {
    top:305px;
    left:650px
}

#country {
    margin-left:18px;
    width:325px;
    height:30px
}

.radio {
    margin-left:37.6px
}

#textarea {
    margin-left:15px;
    width:320px;
    height:90px;
    background-color:#F3F3F3;
    border:2px solid #EDEDED
}

.checkbox {
    margin-left:9px
}

td.email {
    vertical-align:top
}

.form h2 {
    color:#747474;
    margin:30px;
    margin-bottom:10px
}

input[type='text'] {
    width:280px;
    font-size:17pt;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:9px;
    background-color:#F3F3F3;
    border:2px solid #EDEDED;
    text-align:left;
}

.form form {
    margin-left:10px;
    margin-top:0;
    color:#6e6e6e;
    font-weight:4pt;
}

div.sex {
    margin-top:24px
}

#formtable {
    padding-left: 20px;
  width: 850px;
  height: 200px;
  font-weight: 500;
  font-family: Open Sans Light;
}
}
